body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 900px;
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
}

h1, h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
}

form input, form textarea {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
    outline: none;
}

form button {
    width: 100%;
    padding: 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #45a049;
}

#blogList {
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
}

#blogList li {
    background-color: #f9f9f9;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-size: 1rem;
}

#blogList li:hover {
    background-color: #f0f0f0;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 40px;
}

form button, .delete-btn {
    cursor: pointer;
    padding: 8px 12px;
    background-color: #ff4040;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
}

form button:hover, .delete-btn:hover {
    background-color: #e63946;
}

/* Основной стиль для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    padding: 10px 15px;
    margin: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#confirmDelete {
    background-color: #e63946;
    color: white;
}

#cancelDelete {
    background-color: #4CAF50;
    color: white;
}

button:hover {
    opacity: 0.8;
}

